@import url("https://gistcdn.githack.com/mfd/09b70eb47474836f25a21660282ce0fd/raw/e06a670afcb2b861ed2ac4a1ef752d062ef6b46b/Gilroy.css");
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: #091428;
    --foreground: #ffffff;
    --primary: #030a1766;
    --primary-darker: #030a17a7;
    --primary-solid: #030a17;
    --primary-border: #0d1b38;
    --secondary: #14284b66;
    --secondary-solid: #14284b;
    --secondary-border: #0f2249;

    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;
    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;
    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;
    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 222.2 84% 4.9%;
    --radius: 0.5rem;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
  }
}

@layer base {
  * {
    @apply border-border;
    font-family: "Gilroy", sans-serif;
  }
  h1,
  h2,
  h3 {
    font-weight: 600;
  }

  body {
    @apply bg-background text-white;
  }
}

@layer utilities {
  .flares {
    background: radial-gradient(
        28% 27% at 18% 28%,
        rgba(2, 97, 255, 0.25) 0%,
        rgba(2, 97, 255, 0) 100%
      ),
      radial-gradient(
        60% 30% at 56% 80%,
        rgba(143, 28, 229, 0.2) 0%,
        rgba(143, 28, 229, 0) 100%
      );

    position: fixed;
    pointer-events: none;
    top: 0;
  }
  .gradient {
    background: radial-gradient(
        100% 100% at 0% 0%,
        rgba(2, 97, 255, 0.5) 37.5%,
        rgba(2, 97, 255, 0) 100%
      ),
      radial-gradient(
        100% 100% at 100% 0%,
        rgba(143, 28, 229, 0.5) 0%,
        rgba(143, 28, 229, 0) 100%
      ),
      linear-gradient(120deg, #128cfe 0%, #4a21be 100%);
    transition: all 0.3s ease;
  }

  .gradient:hover {
    box-shadow:
      0 0 15px rgba(102, 31, 206, 0.2),
      0 0 25px rgba(60, 86, 230, 0.1),
      0 0 35px rgba(18, 140, 254, 0.05);
    transition: all 0.3s ease;
  }

  .gradient-glow {
    background: radial-gradient(
        100% 100% at 0% 0%,
        rgba(2, 97, 255, 0.5) 37.5%,
        rgba(2, 97, 255, 0) 100%
      ),
      radial-gradient(
        100% 100% at 100% 0%,
        rgba(143, 28, 229, 0.5) 0%,
        rgba(143, 28, 229, 0) 100%
      ),
      linear-gradient(120deg, #128cfe 0%, #4a21be 100%);
    box-shadow:
      0 0 15px rgba(102, 31, 206, 0.2),
      0 0 25px rgba(60, 86, 230, 0.1),
      0 0 35px rgba(18, 140, 254, 0.05);
  }
  .badge-border:hover {
    transition: all 0.3s ease;
    background: none;
  }
  .badge-shadow:hover {
    box-shadow: 0 0 15px rgba(18, 140, 254, 0.2);
    transition: all 0.3s ease;
  }

  .button_transition-white:hover {
    color: var(--primary-border);
    background-color: #ffffff;
    transition: all 0.3s ease;
  }

  .gradient-background {
    background: radial-gradient(
        100% 100% at 0% 0%,
        rgba(2, 97, 255, 0.6) 37.5%,
        rgba(2, 97, 255, 0.25) 100%
      ),
      radial-gradient(
        100% 100% at 100% 0%,
        rgba(143, 28, 229, 0.75) 0%,
        rgba(143, 28, 229, 0) 100%
      ),
      linear-gradient(120deg, #128cfe6d 0%, #4a21be6d 100%),
      url("data:image/svg+xml,%3C!-- svg: first layer --%3E%3Csvg viewBox='0 0 800 800' xmlns='http://www.w3.org/2000/svg'%3E%3Cfilter id='noiseFilter'%3E%3CfeTurbulence type='fractalNoise' baseFrequency='3' numOctaves='2' stitchTiles='stitch'/%3E%3C/filter%3E%3Crect width='100%25' height='100%25' opacity='0.6' filter='url(%23noiseFilter)'/%3E%3C/svg%3E");
  }
}
